@use 'variables' as *;

// Media Queries
@mixin mobile {
  @media (max-width: $breakpoint_mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint_desktop) {
    @content;
  }
}

// Flexbox Utilities
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
