@use 'fonts';
@use 'reset';
@use 'typography';

html {
  scroll-behavior: smooth;
  // 避免導航列 (Navbar) 在跳轉時遮擋區塊標題
  scroll-padding-top: $header_height;
}

// 通用class
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;

  // @include mobile {
  //   padding: 0;
  // }
}

.section {
  position: relative;
  overflow: hidden;
}