@use 'fonts';
@use 'reset';
@use 'typography';

// 通用class
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;

  // @include mobile {
  //   padding: 0;
  // }
}

.section {
  position: relative;
  overflow: hidden;
}